/* google font linkup */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------
 common styles start from here
 --------------------------- */
body {
  font-family: "Poppins", sans-serif;
}
/* top banner section styles */
.container {
  display: flex;
  width: 1321px;
  height: 646px;
  margin: auto;
}
.top-banner {
  background-color: #161611;
  color: #fff;
  margin: 50px auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.banner-heading {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
.banner-info {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
}
#live-button a {
  background-color: #dd0000;
  color: #fff;
  text-decoration: none;
  padding: 16px 25px 16px 25px;
  border-radius: 5px;
}
.banner-details {
  width: 50%;
  margin: 111px 24px 111px 106px;
}
.banner-image img {
  width: 581px;
  height: 613px;
  margin: 39px 29px 0 0;
}
.banner-image img:hover {
  transform: scale(1.2);
  transition: 1s;
}
/*-------------------------
   blog section styles
 ------------------------ */
.blog-full-container {
  width: 1321px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 24px;
}
.full-menu {
  background-color: #161616;
  width: 312px;
  height: 412px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.menu-part a {
  width: 252px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  background-color: #fff;
  color: #000;
  margin: 10px;
  padding: 17px auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
#match-button-highlighet a {
  background-color: #dd0000;
  color: #fff;
}
.menu-part a:hover {
  background-color: #dd0000;
  color: #fff;
}
/*---------------------
   blog card styles
   ----------------- */
.blog-card {
  width: 312px;
  height: 362px;
  margin-left: 24px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.blog-details {
  padding: 15px 20px 0;
}
.blog-title {
  width: 67px;
  height: 21px;
  border: 1px solid #161616;
  border-radius: 3px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-title a {
  text-decoration: none;
  color: teal;
}
.blog-info {
  font-size: 18px;
  font-weight: 600;
  color: #161611;
  margin-top: 15px;
}
.blog-icons {
  width: 143px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* --------------------------------
  upcoming match section styles
  ------------------------------- */
.match-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.match-card {
  width: 312px;
  height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 25px 53px;
  border-radius: 10px;
}
.flag-info {
  display: flex;
  align-items: center;
}
#match-vs {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.card-info h3 {
  margin-top: 20px;
  text-align: center;
}
.card-info p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
/*----------------------------------
        footer section styles
   ---------------------------- */
footer {
  background-color: #161611;
  height: 444px;
  margin: 130px auto 0;
}

footer h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
  color: #fff;
}
.footer-hr {
  width: 1320px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu {
  width: 898px;
  height: 24px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #fff;
  margin-top: 50px;
}
.footer-menu a {
  color: #b9b9b9;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
